* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 50px);
  width: 100vw;
}

.squareDiv {
  flex: 1 0 6.25%;
  aspect-ratio: 1 / 1;
}
